version: 2
jobs:
  build:
    docker:
      - image: rust:1-stretch

    steps:
      - checkout

      - run:
          name: Build Project
          command: rustup override set nightly; cargo build --release

